html, body {min-height: 100%;}
html {height: 100%;}
body {font: 200 16px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color: #3399cc;
	color: #fff;
	border: 20px solid #2b81ac;}
div {margin: 0 auto;
	max-width: 1024px;}
header, footer {padding: 30px 0;}
ul, li {display: inline-block;
		-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
ul {width: 70%;
	background-color: white;
	text-align:center;
	font-size: 0;}
ul:hover > li { opacity: 0.6;}
ul li:hover { opacity: 1;}
ul li:active { background: white;}
li {padding: 30px 10px;
	border: 3px solid #fff;
	text-align: center;
	font-size: 16px;}
p {color: rgba(255, 255, 255, 0.6);
padding: 10px;}
.Lisbon {background-color: #3399cc;
width: 50%;
}
.Paris {background-color: #33cccc;
width: 25%;}
.Belgrade {background-color: #996699;
width: 25%;}
.Moscow {background-color: #c24747;
width: 25%;}
.TA {background-color: #e2674a;
width: 25%;}
.Cair {background-color: #ffcc66;
width: 25%;}
.NA {background-color: #99cc99;
width: 25%;}
.ND {background-color: #669999;
width: 25%;}
.SF {background-color: #cc6699;
width: 50%;}
.Tokyo {background-color: #339966;
	width: 25%;}
.Sydney {background-color: #666699;
width: 100%;}
* {transition: all .1s ease-in;}

